Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
var1 = 'variable'

In [2]:
var2 = [1,2,3]

In [3]:
var3 = 3.4

In [ ]:
var4 = ( 1, 2, 'str', 3.5)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

var1 is string
var2 is string
var3 is string
var4 is int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/ is  divison with output in float, 4/5= 0.8
% is division with remainder as output  4 % 5 = 4
// is divison with inetger output(rounded off) 4 // 5 = 0
** is power left to  right numner of time.  2**3 = 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
list1 = [ 1, 2, 3, 4, 'x', 3.4, 3+4j, True, 'new', 9, 10]
for i in list1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
x <class 'str'>
3.4 <class 'float'>
(3+4j) <class 'complex'>
True <class 'bool'>
new <class 'str'>
9 <class 'int'>
10 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
a = int(input("enter A:"))
b = int(input("enter B:"))
if a % b == 0:
    print('it is divisible %d times' % (a/b))
else:
    print(' A not divisible by B')

enter A: 25
enter B: 5

it is divisible 5 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,1,6,17,1,8,19,20,21,22,23,24,25]
for i in list1:
    if i % 3 == 0:
        print( '%d is divisible by 3' %i)
    else:
        print( '%d is not divisible by 3' %i)

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
1 is not divisible by 3
6 is divisible by 3
17 is not divisible by 3
1 is not divisible by 3
8 is not divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [5]:
list1 = [ 1,2,3]
list1[0] = 9
list1

[9, 2, 3]

mutable data type is when then the element can be modified, like elements of a list

In [7]:
list1 = (1,2,3)
list1[0] = 9
list1[0]

1

In [ ]:
immutable data type when element cannot be modified like tuple